{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Escolar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% if not request.path == '/login/' %}
        <header>
            <nav class="navbar">
                <div class="nav-container">
                    <div class="logo">
                        <!-- <a href="{% url 'home' %}" class="nav-logo">Sistema Breach</a> -->
                        <img href="{% url 'home' %}" src="{% static 'image/Imagem1.png' %}"  alt="">
                    </div>
                    {% if user.is_authenticated %}
                        <div class="nav-menu">
                            <a href="{% url 'home' %}" class="nav-item">Início</a>
                            {% if user.is_staff %}
                                <a href="{% url 'dashboard_professor' %}" class="nav-item">Dashboard</a>
                            {% else %}
                                <a href="{% url 'dashboard_aluno' %}" class="nav-item">Dashboard</a>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="nav-item">Sair</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </header>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html> 
