{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Escolar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
{% if request.path != '/login/' and request.path != '/logout/' and request.path != '' %}
<header class="menuSuperior">
  <nav class="navbar">
    <div class="nav-container">
      <div class="logo">
        <img src="{% static 'image/logoIcon.png' %}" alt="Logo">
      </div>
      <div class="titleCenter">
        <h2>BREACH SYSTEM</h2>
      </div>

      {% if user.is_authenticated %}
      <div class="nav-menu">
        <a href="{% url 'perfil_view' %}"><i class="fa-solid fa-user iconUser"></i></a>
      </div>
      {% endif %}
    </div>
  </nav>
</header>

<aside class="menuLateral">
  <nav class="navbarLateral">
    <div class="nav-container">
      {% if user.is_authenticated %}
      <div class="nav-menu">
        <a href="{% url 'dashboard_aluno'%}"><i class="fa-solid fa-house iconUser"></i></a>
        <a href="{% url 'quadro_view'%}"><i class="fa-solid fa-calendar-days iconUser"></i></a>
        <a href="{% url 'aluno-meus-feedbacks' %}"><i class="fa-solid fa-comments iconUser"></i></a>
        <a href="{% url 'presenca_alunos' %}"><i class="fa-solid fa-graduation-cap iconUser"></i></a>
      </div>
      {% endif %}
    </div>
  </nav>
</aside>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html> 
